body {
  
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.no-border {
  border: none;
  background: none;
  border-width: 0px;
  border-color: white;
}
#canvas-js {
  margin: 20px;
  max-width: 100%;
  max-height: 100%;
}
#play {
  margin-left: 20px;
}
#btn-left {
  touch-action: manipulation;
  margin-left: 20px;
}
#btn-thrust {
  touch-action: manipulation;
  margin-left: 20px;
}
#btn-right {
  touch-action: manipulation;
  margin-left: 20px;
}