body {
  overflow-y: hidden;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#canvas-js {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#button-container, #button-container2 {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100px;
}
#btn-left, #btn-thrust, #btn-right {
  text-justify: center;
  border-radius: 30px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: manipulation;
}
#btn-fire {
  text-justify: center;
  border-radius: 30px;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: manipulation;
}
#btn-text {
  font-family: Verdana;
  position: relative;
  top: 30px;
}
@media (min-width: 600px) {
  #btn-left, #btn-thrust, #btn-right {
    display: none;
  }
  #btn-fire {
    display: none;
  }
  #button-container, #button-container2 {
    height: 10px;
  }
}

